[2014-07-27 02:31] fatih opened #1 "Add IsEmpty() function"
Checks whether the fields are initialized or not.

[2014-07-27 02:32] fatih opened #2 "Add IsStruct() function"
Returns true if the given type is struct or a pointer to struct.

[2014-07-27 02:33] fatih opened #3 "Add ToSlice() function"
Creates a `[]interface{}` of the field values.

[2014-07-27 12:07] #2 closed, assigned to nobody

[2014-07-27 13:54] #3 closed, assigned to nobody

[2014-07-27 14:02] fatih opened #4 "Add Fields() or SortedFields() function"

[2014-07-27 20:53] #4 closed, assigned to nobody

[2014-07-29 21:34] #1 closed, assigned to nobody

[2014-07-29 23:22] fatih opened #5 "Add tests for anonymous fields"

[2014-07-29 23:22] fatih opened #6 "Add tests for embedded structs"

[2014-07-30 15:50] #6 closed, assigned to nobody

[2014-07-30 18:09] #5 closed, assigned to nobody

[2014-08-07 08:12] yrashk opened #9 ""asis" field tag?"
I have another issue. I have a struct with `time.Time` fields. This whole structure, once converted to a map, will get converted to JSON. However, if I use `structure.Map`, it'll also process thise `time.Time` fields. Is there any way we can instruct structure to keep those fields` values as is?

[2014-08-08 09:42] #9 closed, assigned to nobody

[2014-08-14 08:45] fatih opened #13 "Field.Set("field", value) methods"

[2014-08-15 11:52] #13 closed, assigned to nobody

[2014-08-18 19:51] MartinBrugnara opened #15 "Map() time.Time"
time.Time is converted to an empty map.

[2014-08-20 11:18] #15 closed, assigned to nobody

[2014-09-08 21:39] pikanezi opened #16 "Field.Set: use of reflect.Indirect"
Hello,

Thanks for this useful package, but I have a question: why did you use reflect.Indirect when setting a field instead of using the value of the field itself? When setting pointers, it seems that it just does not work when using the value that the field points to.

[2014-09-10 08:19] #16 closed, assigned to nobody

[2014-09-12 09:14] klauspost opened #18 "Omitempty option for creating maps"
It would be lovely to have an ",omitempty" option to struct members, so they can be omitted if empty similar to the json encoder.

[2014-09-14 17:49] #18 closed, assigned to nobody

[2014-09-24 22:36] vdemario opened #20 "Map() panics with nil pointer"
Steps to reproduce:

[code]

http://play.golang.org/p/YAh_AJSEQi

Output:

`panic: not struct`

Checking for a nil pointer on `IsStruct()` and returning false solved it for me, but I'm not sure this is the right solution. If my approach is fine, I'll be happy to submit a PR.

[2014-10-07 15:15] #20 closed, assigned to nobody

[2015-01-23 03:53] BEZEI2K opened #23 "creating an exported field"
Is it possible to create a field if it is unsettable?

[2015-01-24 08:47] fatih commented on #23
Can you give more detail ? You can only create fields when you define a struct. After that it's not possible anymore.

[2015-02-15 00:13] BEZEI2K commented on #23
Ok, What I needed to be able to do is loop over two data structs. Compare one against other, and where different update. So if Struct1 has a field Struct2 doesn't, we create the field and assign a value.

[2015-02-15 14:38] fatih commented on #23
Nope this is not possible. Structs are types that needs to be declared during compile time and can't be set in runtime.

[2015-02-15 14:38] #23 closed

[2015-04-05 10:09] oryband opened #25 "add options to use custom struct tag name instead of `structs:"..."`"
I would like to use `json:"..."` instead of `structs:".."`, for now I am forced to use both when a struct is used by `encoding/json` and `fatih/structs` with converting structs to `map[string]interface{}`.
[code]

[2015-04-05 10:11] oryband commented on #25
Specifically, I need this in the `structs.Map()` function, but I guess it would be good if this would be added as to other places in the code as well.

[2015-04-05 10:14] fatih commented on #25
Actually you can do it already http://godoc.org/github.com/fatih/structs#Struct :) By default it's "structs" but you can change it to "json".

[2015-04-05 10:15] fatih commented on #25
Change the TagnName field.

[2015-04-05 10:17] fatih commented on #25
Or change the global variable name "DefaultTagName"

[2015-04-05 10:18] oryband commented on #25
@fatih hey cool! thanks. you're quick :)

[2015-04-05 10:44] fatih commented on #25
You're welcome :)

[2015-04-05 10:44] #25 closed

[2015-04-18 17:29] fatih opened #26 "Add structs.Names() method"
Just to return the names of each struct field. It'll be handy to use in a for range:

[code]

[2015-04-18 20:06] #26 closed

[2015-05-06 06:57] fatih opened #28 "Custom tag name doesn't propagate to inner structs"

[2015-05-06 15:01] #28 closed

[2015-05-12 10:23] JohnSmithX opened #31 "can map function parse struct's tag"

[2015-05-12 10:28] fatih commented on #31
Please give more detail. It's not understandable from the title.

[2015-05-13 02:42] JohnSmithX commented on #31
I mean if I can specify the key's name of map with tags like `josn.Unmarshal`

[2015-05-13 09:36] fatih commented on #31
Can you give example code and what you want to do? I find it hard to understand what you want right now.

[2015-07-15 07:25] fatih commented on #31
Closing as I didn't get any valuable answer for two months.

[2015-07-15 07:25] #31 closed

[2015-10-31 00:25] pkaeding opened #37 "How to set a ptr field to nil"
I'm trying to unset a pointer field (ie, set it to `nil`), like so:

				if err := f.Set(nil); err != nil {
					fmt.Println(err.Error())
				}

However, I get this error:

    wrong kind. got: invalid want: ptr

I believe this is because [`reflect.Value.Kind()`](https://golang.org/pkg/reflect/#Value.Kind) will return `Invalid` for 'zero' values.

Is there a way around this?

Thanks!

[2016-01-10 04:52] lionelmessi opened #43 "Can it work when fields start with an lowercase"
I tried using lowercase fields with

type photoUploadForm struct {
	userid    string `form:"userid" valid:"Required"`
	caption   string `form:"caption" valid:"Required"`
}

m := structs.Map(ph)

m is always empty.

[2016-01-10 05:18] lionelmessi commented on #43
ok we need to use name in struct!

[2016-01-10 05:18] #43 closed

[2016-02-19 17:52] n3wtron opened #45 "Why structs.Map() convert anonymous field in sub map?"
[code]
generate a map like
`map[A:map[Name:] Surname:]`
but A is an anonymous field I'm expecting a flat map like
`map[Name:Surname:]`

[2016-02-19 17:57] n3wtron commented on #45
I did this modification https://github.com/n3wtron/structs/commit/2c35fa8e22ce37fce36cc6f749cb812b1138d44c
I don't know if its correct

[2016-02-20 11:02] fatih commented on #45
Hi @n3wtron. It's not allowed because the struct A and B might have the same struct names and it would collide. It's not a bug, it's a design decision.

[2016-02-20 11:02] #45 closed

[2016-02-20 13:57] n3wtron commented on #45
Hi @fatih thank you for the answer.
What do you think about using a tag to choose if convert a nested struct in a nested map?
If you have some time could you take a look https://github.com/n3wtron/structs/commit/d97a96e28c0bd5866c42f0d71dafb0f44893585c

Have a nice day

[2016-02-21 12:27] fatih commented on #45
Hi @n3wtron I think open a PR to the repo with these changes and discuss it there. Also what about duplicate fields? I think if you make it explicit that it will be overwritten I think we might introduce it.

[2016-02-21 15:05] n3wtron commented on #45
Hi @fatih, I will open a PR, but first I'll have to add a test on structs_test.go.
I can't duplicate fields, because the structure that I'm trying to map is come from an other library.

Thank you.

[2016-03-05 17:28] aacanakin opened #47 "Is there any option to create structs from map?"
What I need currently is to be able to convert map into a struct. Is it possible currently?

[2016-03-07 11:08] fatih commented on #47
Hi @aacanakin

For now `structs` doesn't support this feature. Maybe in the future we might support it. But there is already an excellent package that does what you want: https://github.com/mitchellh/mapstructure.

[2016-05-10 00:16] atombender commented on #47
@fatih: Would like to see this. It seems like a pretty glaring hole in this package's functionality. As it stands, you have to use `structs` and `mapstructure` together to serialize back/forth between maps, and in principle there's no guarantee that the serialization is even equivalent.

[2016-05-10 10:52] fatih commented on #47
@atombender you're totally right actually. Thinking now, we should maybe have something like this. I'm reopening the issue, tough I might not have the time for now. I'm open to contributions, if anyone wants to contribute, please open a new issue and write your thoughts on how you want to implement it so it's easy to proceed.

[2016-05-19 18:57] ak2344 opened #54 "Global omitempty?"
Thanks for creating this package, it's super simple and useful.

Do you know if it's possible to request an omitempty policy at a global / struct level without having to specify it for every field?

Thanks!

[2016-05-20 12:41] titpetric commented on #47
I would like to extend this issue with partial assignment. For example:

[code]

It would be awesome if var2 would be filled out with fields which match whatever is in var. I'm about to write this bunch of code to handle the split between database (full schema)/web forms (partial), and I'm sure there are other use cases as well. It's the second time that casting has failed me in recent few months.

[2016-05-20 13:08] titpetric commented on #47
Feel free to use it for partial struct updates like in the example mentioned above. It's just something I hacked together quickly, not sure if it can be included as is. Feel free to give comments and I'm up for submitting a PR for this, if it's needed:

[code]

It basically includes the logic to assign all existing Map elements into a struct (dest). Depending on what `structs.Map` does when it get

[2016-05-21 22:11] fatih commented on #54
Hi @ak2344

Unfortunately there is no such feature. Think of it's like how `encoding/json` and others does it. They also don't provide any global flags. I'm not thinking to add something because there is little we can win from this. Thanks!

[2016-05-21 22:11] #54 closed

[2016-05-28 13:02] asdine opened #56 "Can't set value on embedded struct fields"
`structs.Field.Set` fails when trying to set a value on an embedded struct field because [`CanSet`](https://github.com/fatih/structs/blob/master/field.go#L73) returns `false`.

It should not fail since the documentation of `CanSet` says:

Here is an example that you can copy-paste:

[code]

[2016-05-30 20:58] shardnit opened #58 "Nested array structs dont pick up custom tags"
Consider following example where struct person consists of array of addresses:

[code]

The output is (custom tag for country is not picked):
`map[name:test addresses:[{Country:England}]]`

while the expected output is:
`map[name:test addresses:[{country:England}]]`

[2016-06-01 09:31] #56 closed

[2016-06-06 14:17] fatih commented on #58
Thanks @shardnit

I'll take a look soon at it. My macbook was broken and I didn't had the time to look at it.

[2016-06-08 08:34] n3wtron commented on #58
I think that the correct output should be
map[name:test addresses:[map[country:England]]]

[2016-06-11 16:32] fatih commented on #58
@shardnit checkout please https://github.com/fatih/structs/pull/60, it solves your problem.

[2016-06-13 21:29] #58 closed

[2016-06-15 13:22] davrux opened #61 "Latest version panics on interface{}"
The following program will panic, because interface type in struct.
Older Versions supported it.

    package main

    import (
	    "fmt"

	    "github.com/fatih/structs"
    )

    type MyStruct struct {
	    PublicKey interface{}
    }

    func main() {

	    mystruct := MyStruct{PublicKey: []byte("test")}
	    s := structs.Map(mystruct)
	    fmt.Printf("s %+v\n", s)
    }

Tried to structs.M

[2016-06-16 15:32] #61 closed

[2016-06-16 15:33] fatih commented on #61
Was fixed with #62

[2016-06-27 18:17] RongxinZhang opened #65 "Invalid Type"
Hi @fatih

I have a struct like this:

[code]

However, when I try to convert the returned the return object, I get an error:

![screen shot 2016-06-27 at 11 14 01 am](https://cloud.githubusercontent.com/assets/3782456/16390597/69d8a690-3c58-11e6-9ebf-7a1015570094.png)

Any thoughts?

[2016-06-27 18:50] RongxinZhang commented on #65
Seems to be related to this: https://github.com/pquerna/ffjson/issues/27

[2016-06-29 19:43] fatih commented on #65
Hi @RongxinZhang Can you please provide a reproducible `main.go` file? What do you mean by `when I try to convert the returned the return object` ? Which function did you use?

[2016-07-08 05:19] roylou opened #68 "Map() generates inconsistent type"
When using Map() method, field with value of struct generates map. However field with pointer of struct doesn't generate map, but original struct instead:

[code]
Generates:
[code]
where `ArrStruct` converts to `[]interface{}{map[string]interface{}}` but `ArrPtr` converts to `[]*main.single`

It would be nice to be in sync, i.e. everything converts map[string]interface{}

[2016-07-21 15:20] mammothbane commented on #37
yeah, i ran into this issue a few months ago. use `Zero`.

[code]

[2016-08-07 23:54] #68 closed

[2016-09-09 03:18] client9 opened #72 "golang 1.7 issue"
Here for tracking.  Something in koding/multiconfig is panic-ing.

via koding/multiconfig#50

"""
It's issue with http://github.com/fatih/structs, the check for IsExported should be adapted as described in golang/go#12367
"""

which says

[code]

[2016-09-19 23:18] rajeshneo opened #74 "data type limitation"
Is there a limitation that this package only work on int value. I tried with int64/uint/uint64 and somehow it does not seems to change values

Ref:
package main

import (
	"fmt"

	"github.com/fatih/structs"
)

type Data struct {
	IntVal    uint64
	StringVal string
	NewStruct NewStruct
}

type NewStruct struct {
	InVal int
}

func main() {
	var vals Data
	vals.IntVal = 1
	vals.NewStruct.InVal = 1

[2016-09-19 23:26] rajeshneo commented on #74
ok found the issue with my code.. i was trying to assign 2 to uint64 value..it was considering 2 as int and was throwing a error.. it would be nice if can find a way to somehow overcome this casting need.

[2016-09-26 10:50] fatih commented on #74
Closing this issue as it's not readable. Please feel free to open another one with more detailed information.

[2016-09-26 10:50] #74 closed

[2016-11-29 23:02] yanfali opened #75 "what's the reasoning behind omitempty working differently from encoding/json?"
Hi, love this library, thank you so much.

Question I was recently caught out by the way omit empty works in structs tags. For encoding/json if you pass a pointer it omits the field, but if you pass structs a nil it sets the value to null. It took me a bit to understand that structs was detecting uninitialized fields to decide whether to omit empty. Is there a rational behind this different from t

[2016-12-01 06:52] fatih commented on #75
Hi @yanfali

Can you give a concrete example for both `encoding/json` and `fatih/structs` on how what you see and on what you want to see ?

[2016-12-01 17:21] yanfali commented on #75
Hi @fatih, I have finally figured out what is going on. So it's a bit of a corner case, and my original description of the problem is flawed. So the issue seems to be, if I have a pointer to an initialized but un-used struct and I encode it to a map type then I take the map and I encode it using the standard JSON encoder it doesn't seem to honor the omitempty struct tags and instead falls back to

[2016-12-01 17:22] yanfali commented on #75
p.s. I'm running on commit dc3312cb1a4513a366c4c9e622ad55c32df12ed3 - a vendored version of structs.

[2016-12-17 22:21] fatih commented on #75
Hi @yanfali

So I've checked both examples. The first one is actually no bug and is indented. It actually goes over `Name` and `OptionalNickName` and because they both are empty  it skips them indeed. But the `person` variable (of type `plain2`) you're passing is not nil. It's a pointer of person. Therefore it just adds it there without changing it, so you get this: `map[person:0xc4200a0000]`. And

[2016-12-17 22:21] #75 closed

[2016-12-17 22:26] #72 closed

[2016-12-17 22:26] fatih commented on #72
This is issue is not related to `structs` (https://github.com/koding/multiconfig/issues/50#issuecomment-246335494). Thanks.

[2016-12-17 22:27] fatih commented on #65
Closing as I didn't get any response per months. Feel free to open again.

[2016-12-17 22:27] #65 closed

[2016-12-19 17:58] yanfali commented on #75
Hi @fatih I'm a little confused by this behavior. I would have expected structs to descend into person in the first example as it did in the 2nd one and discover that there we no fields and simply leave person as nil. struct understands enough to descend into the 2nd example and only map the field that is actually required so I find this surprising behavior for the Map function.

[2016-12-19 18:00] yanfali commented on #75
How I fixed it in actual code was to stop using pointers with structs.Map. When using an instance it works as expected when the fields are default. I will see what the json encoder does in the same situation and report back.

[2016-12-23 08:05] russ666 opened #76 "panic on nested map"
I got a panic error if my struct has an nested map. Not sure but, i think it starts appear after go compiler updated. Now it `1.6`.

[code]

[2016-12-23 08:26] fatih commented on #76
Can you please provide a reproducible struct and case that I can test. Thanks.

[2016-12-23 08:35] russ666 commented on #76
Thanks for quick reply. I used a next structure:
[code]
`Payload` field could contain string or structured map. In case, when it's a simple map (ex. `map[string]string {"test_param": "test_value"}`) I got an error, described above

[2016-12-23 08:39] fatih commented on #76
Could you also fill the value that makes it panicing ? Just want to get as much information as it makes debugging easier. Thanks

[2016-12-23 09:08] russ666 commented on #76
Ok. There are simpler example:
[code]

[2016-12-29 15:45] russ666 commented on #76
hi. i found a solution. don't know what other bugs it could born, but package's tests completed successfully. just remove the line, where the panic raised `v := val.Type().Elem()`. Looks like `v` already contains suitable value

[2016-12-30 11:27] fatih commented on #76
Thanks @russ666

I have a fix on my local branch. I just need to add some tests to be sure it doesn't break old tests. I'll push it when it's ready, you'll get notified when this get closed.

[2016-12-30 12:18] #76 closed

[2016-12-30 12:18] fatih commented on #76
This is now fixed in master. Thanks for the feedback again 👍

[2017-01-01 03:03] ryanstinson opened #79 "Is there a way to do a non recursive nested struct map conversion?"
I have some fields within my stuct that use null.String types which are structs themselves. However, these are wrappers for scalar types so I don't want to create nested maps for these. Is there an option to turn off recursive map conversion?

[2017-01-02 21:28] fatih commented on #79
Yes there is. Use the `omitnested` tag option. There is also an example in the docs. Thanks

[2017-01-02 21:28] #79 closed

[2017-01-02 23:49] ryanstinson commented on #79
Thank you!

________________________________
From: Fatih Arslan <notifications@github.com>
Sent: Monday, January 2, 2017 1:28 PM
To: fatih/structs
Cc: ryanstinson; Author
Subject: Re: [fatih/structs] Is there a way to do a non recursive nested struct map conversion? (#79)

Yes there is. Use the omitnested tag option. There is also an example in the docs. Thanks

-
You are receiving this because yo

[2017-01-09 16:43] dominicbarnes opened #81 "Add ability to retrieve tag names from struct"
I would like to build a SQL statement without using `*` using an empty struct. It would be nice if I could retrieve all the "tag names", similar to how `Names()` works. For example:

[code]

I would argue that this is acceptable in this library since it deals with a tag that this package manages. A temporary workaround is to export the struct to a map and extract the keys from that. (but it would

[2017-01-11 14:47] fatih commented on #81
Hi @dominicbarnes

To get the tags you also need to define the tag key name. Such as `structs`, `json`, etc.. You can do it already with the following (for your example):

[code]

As you see it's just three lines to collect all tag names. I don't want to further expand this library as I believe it already provides the necessary API. Thanks for you feedback.

[2017-01-11 14:47] #81 closed

[2017-01-11 15:31] dominicbarnes commented on #81
The example you have misses quite a few details, such as additional parts in the tag like `omitempty` or `omitnested` and using `-` or empty string to ignore a field. Plus, it's inconvenient to establish my own for loop to accomplish this.

Would you at least be open to a PR that adds this feature? (rather than needing to write it yourself?)

[2017-01-11 15:57] fatih commented on #81
I'm not sure those are important. The struct pkg will take care of it already. Can you share an example what you mean?

[2017-01-11 16:24] dominicbarnes commented on #81
To elaborate on my first example:

[code]

Using the code you have above, I'd end up with: `[]string{"first_name", "last_name", "birthdate,omitnested", "-"}` whereas what I really want is: `[]string{"first_name", "last_name", "birthdate"}`.

[2017-01-13 06:26] peter-hon opened #82 "Cannot flatten the nested struct."
When I use flatten,
          `type Message struct {
	   Model `structs:",flatten"`
           Name `structs:"name"`
        }`

      `type Model struct {
	CreatedAt rdb.Timestamp ` structs:"created_at"`
	UpdatedAt rdb.Timestamp `structs:"updated_at"`
      }`

message is the instance of Message
when I use structs.Map(message)

It always return map[string]interface{} contains map[string]interface

[2017-01-13 10:11] fatih commented on #82
@peter-hon Can you please give a reproducible case so I can test it. Your example is not easy on the eyes and can't be read. Thanks

[2017-01-13 10:16] fatih commented on #81
Hi @dominicbarnes

I see what you mean. I worked on a separate, improved and powerful tags package that deals with this any many other things. Let keep this open, I'll add the necessary feature once I have time (just need to replace the internal tags.go file with the package I wrote and expose it with some well defined API's)

[2017-01-13 10:39] peter-hon commented on #82
Thanks Faith, the reason I can't use 'flatten' is because I did not get the latest structs. I update it and it works

[2017-01-13 10:39] #82 closed

[2017-01-20 00:58] TheChuckster opened #83 "Any way to override field names when converting a struct to a map?"
JSON has the following:

[code]

which is a bit friendlier (BUT not Go style)...

[2017-01-27 11:27] fatih commented on #83
Yes, use `structs` in addition to `json`. Checkout the docs for more info: https://godoc.org/github.com/fatih/structs#example-Map--Tags

[2017-01-27 11:27] #83 closed

[2017-02-13 20:31] tab1293 commented on #43
@lionelmessi what was the solution to this issue? Is it possible to use lowercase properties in the struct definition?

[2017-03-17 10:26] henti opened #84 "Versions and tags"
Hi there,

I'm busy packaging structs for Debian as a dependency for minio. For packaging to work correctly, we need to be able to scan for updated versions, and for that we need releases or tags. Please read https://wiki.debian.org/debian/watch and specifically https://wiki.debian.org/debian/watch#GitHub for more information on tags/release information in github that is needed to make packaging e

[2017-03-17 13:41] fatih commented on #84
Hi @henti

I've released it with `v1.0.0`. https://github.com/fatih/structs/releases/tag/v1.0.0

Thanks for the notice

[2017-03-17 13:41] #84 closed

[2017-03-17 16:24] henti commented on #84
Thanks @fatih

For you to track.

https://mentors.debian.net/package/golang-github-fatih-structs

H

[2017-04-07 17:23] 21stio opened #85 "Proposal: Create a map and omit nil values"
Hey,

would you accept a pull request for a method that creates a map while omit nil values?

If yes, how would you like the method to be called?

Cheers

[2017-04-08 02:16] fatih commented on #85
Why do you want to omit the keys? And what's the goal? Can you show me an example map?

[2017-04-17 00:49] monopollly opened #86 "Nested structs"
How to set values in nested structs?

I have something like this:
[code]

I got all fields but I can't set it...
I made a little recursion about this
[code]

thank you!

[2017-04-17 17:04] chuckhacker commented on #83
Thanks @fatih !

[2017-06-21 15:40] henti commented on #84
@fatih Thought you'd want to know.

https://packages.debian.org/sid/devel/golang-github-fatih-structs-dev

[2017-06-24 21:11] fatih commented on #84
Thanks @henti for the update 👍

[2017-07-27 15:02] rogierlommers opened #91 "Get tag-value without omitempty"
Excellent package! One question though: I sometimes need to get the tag() from a struct value, but then without the "omitempty" part. Does it make sense to create a dedicated method for that? So instead of `func (f *Field) Tag(key string) string` to have something like `func (f *Field) TagWithoutOmitEmpty(key string) string`?

[2017-07-27 15:21] fatih commented on #91
Hi @rogierlommers

Tags have their own syntax. I recommend you get them via `Tag()` and then the structtag package that allows you to do anything with that struct tag: https://github.com/fatih/structtag Thanks!

[2017-07-27 15:21] #91 closed

[2017-07-27 17:21] rogierlommers commented on #91
👍 Didn't see that one :). Thanks!

[2017-08-17 22:29] krostar opened #92 "New() with options"
Hi,

I would like to change the tag `structs` to `column` in structures tag. How can I set the new tag ? I'd love to see something like this:
[code]
or
[code]

What do you think about it ?

[2017-08-21 20:52] fatih commented on #92
Hi @krostar . Thanks for the feedback. You can do it like (https://play.golang.org/p/Jw3Uy55unv):

[code]

[2017-08-21 20:52] #92 closed

[2017-08-21 21:31] krostar commented on #92
Don't know how I missed that in the doc, thx.

[2017-08-22 18:10] suntong opened #93 "I get empty return for this"
Can anyone help me to see what's wrong with the following line please?

https://github.com/suntong/lang/blob/820cf694de6b099256f429b9fff91265461eef25/lang/Go/src/ds/structs_example.go#L131-L147

it prints:

`map[string]interface {}{}`

while [the previous test](https://github.com/suntong/lang/blob/820cf694de6b099256f429b9fff91265461eef25/lang/Go/src/ds/structs_example.go#L100-L117) prints the foll

[2017-08-23 10:09] fatih commented on #93
Hi @suntong  The `servers` field need to be uppercase, so `Servers`. Otherwise the reflect package will not read it. Here is the same example: https://play.golang.org/p/rP5q47J3Ke

[2017-08-23 10:09] #93 closed

[2017-09-15 10:54] aliforever commented on #85
Hi, as I need the nil value keys to be omitted too, I thought to give an example
In TicTacToe game I have the struct Game with fields => {X1,X2,X3,X4,X5,X6,X7,X8,X9}
Each time a user moves, a new struct is saved with the moved X, to shape the game I need to iterate over the moves and find the ones that have a value set.
What I'm doing might not be a good method to build a TicTacToe but I thought t

[2017-10-07 00:24] BlueMonday opened #95 "panic when using both flatten and omitempty"
Hello!

When flattening a struct, if all of the fields in the struct have the omitempty option at least one of them must be set or the library will panic. This means I can't safely combine "flatten" and "omitempty". It would be nice if the two could be used together safely.

I believe this happens because of this check: https://github.com/fatih/structs/blob/master/structs.go#L527

The embedded str

[2017-11-17 00:38] nikolawannabe opened #99 "Values that are structs lose their tags"
I'm using this library to get the keys for a struct, and then marshalling to json for values that are objects.  It appears though that when the value is mapped, it loses its tags:

[code]

FirstName, LastName, Email marshal as FirstName, etc, instead of first_name, last_name, email.

Changing the struct field names to lowercase makes it so they don't end up showing up in the map though.

[2017-11-24 09:44] tehsphinx opened #100 "Custom Map function"
Similar to the `json.Marshal()` it would be really great to have the ability to add my own `Map()` function to a struct in order to overwrite the default mapping.

Example use case:
[code]
In this example the actual data is hidden away and only accessible from the foo struct itself (at least outside the package). So I would want to build a function `foo.Map()` that can extract the data. In a neste

[2017-11-24 10:05] tehsphinx commented on #100
see https://github.com/fatih/structs/pull/101

[2018-02-07 01:42] keep94 opened #106 "Report fields of anonymous fields"
From the documentation of the encoding/json package:

Anonymous struct fields are usually marshaled as if their inner exported fields were fields in the outer struct, subject to the usual Go visibility rules amended as described in the next paragraph...

For my use case it would be really nice if structs.Map worked the same way including all the inner fields of an anonymous struct field instead of

[2018-02-15 00:26] JC1738 opened #107 "stack overflow on structs.Map()"
'''
			myVar := Parent{}
			myVar.LogData = "Hello"
			myVar.Child = &myVar
'''

If myVar is passed to structs.Map(myVar) will cause a stack overflow.  I know you can specify not to recurse on the struct field definition, but I am trying to guard against the case that I don't know what the struct will look like nor am I defining the struct itself.

[2018-03-19 20:56] nayanbhana commented on #99
If anyone comes across this, you can use multiple tags on a struct.
https://stackoverflow.com/questions/18635671/how-to-define-multiple-name-tags-in-a-struct

[2018-03-23 02:27] lewgun commented on #106
something like this:
type B struct {}
type A struct {
	B  `json:",flatten"`
}

[2018-04-08 17:11] titpetric opened #111 "Add Addr method for Field"
In order to allow for modification of nested structures, we must have a way to retrieve a pointer for an individual field inside the first struct, so we may call `structs.New` on it later and enable modification of individual fields.

I'm asuming we need to call reflect.Addr on the unexported reflect.Value.

https://golang.org/pkg/reflect/#Value.Addr

[2018-04-11 09:21] hawkli-1994 opened #112 "structs.Map return empty map"
test := &commonlyUsedRedisTable{protocol: "test", status: "test"}
	m := structs.Map(test)
	fmt.Println(m)

       print: map[]

[2018-04-18 13:30] kurtmaile opened #113 "Range over nested slice of structs (using fields)"
Hi,

I would like some help on how to iterate of the slice of structs like below.  Im actually creating a recursive function that essentially walks the try down to primitives and their values.  Ive covered all relect types except for handling the slice and how to use / convert a field (e.g E below), that is of stype slice (or array), and get access to the slices indexes instances and their X.Y and

[2018-04-19 07:54] kurtmaile commented on #113
Help please urgent! :)  Appreciated.

[2018-04-26 19:06] stavrosicsd opened #114 "structs.Values() does not parse time.Time field"
The title is self explanatory. Here is also an example:

type MyTime struct {
	Timestamp time.Time `json:"timestamp"`
}

structs.Names(obj) returns correctly the Timestamp field.
structs.Values(obj) does not return the Timestamp value.

[2018-05-17 08:37] xiangwan opened #115 "Why don't cache type information that has been reflected ?"
Hi, I have a question.
Why don't cache type information that has been reflected ?
Is it because the Golang reflection system is fast enough?

[2018-06-08 07:05] mkrull commented on #112
The first example shows unexported fields are not included in the map.

[2018-07-25 08:54] sundarv85 commented on #114
I'm also having this same issue. Is there any easy fix for this?

[2018-08-22 09:02] FX-HAO opened #117 "Custom how nested struct marshals"
A use case: I want to marshal my nested struct to be a json-formated string instead of `map[string]interface{}`

[2018-09-03 14:56] ror6ax opened #119 "Nested reflection?"
Hi @fatih ! Your libraries absolutely rock, thanks a lot!

I was wondering if you may have an idea about the following:
[code]

...gets interpreted as `map[ApplicationApi:<nil> RmsApi:<nil>]`

I'm looking for a way to go further down the rabbit hole and get mathods defined on, say `*ApplicationApiService`. Is there any way to achieve that?

Once more, thank you for your work, you are a legend!

[2018-09-12 05:57] cupen opened #120 "How about add a api for convert map to structs?"
I think this is very useful.  struct -> map -> struct,  for completeness. 💯

[2018-09-12 06:37] fatih commented on #120
Thanks @cupen  I'm thinking about it in v2 of this package

[2018-09-15 06:00] kaustubhmallik opened #122 "Changing case of field name(key) in the generated map"
So, I am using MongoDB in my application, and this package is a perfect fit for changing structs to map, which can be directly inserted into the collection. Now, as the usual convention is lower case for keys in MongoDB document, but in go I need them first letter upper case, to allow outside package access.

So, it would be really helpful if you can add a wrapper on top `structs.Map(),` something

[2018-09-15 06:13] kaustubhmallik commented on #122
Currently, I am doing it like this.

[code]

May be there can be a more optimized approach to this, which can be added into **structs**.

[2018-09-20 18:03] theblueskies commented on #112
Close this issue?

[2018-09-21 11:00] Saravanan90 commented on #122
+1

[2018-10-02 12:44] DenLilleMand commented on #117
I think this issue fits nicely into why i had to fork this library as well, i wonder if you could say something about whether you see this library support something like the PR #118 contains @fatih ? My main issue is that nested structs either get ignored, or unmarshalls all of it's children instead of adding the option to evaluate it to a single field.

I have seen suggestions to use the `structs

[2018-10-03 21:29] npotts commented on #113
From the sound of it, you most likely are using the wrong tool for the job.  You most likely want to use the ```reflect``` package directly.  There are many good articles online for doing this sort of thing ([like this](https://medium.com/capital-one-developers/learning-to-use-go-reflection-822a0aed74b7).

Outside of that, I am not sure you will accomplish what you want with this library. However,

[2018-10-07 11:15] #100 closed

[2018-10-10 23:21] fatih commented on #37
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:21] fatih commented on #47
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:21] fatih commented on #85
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:21] fatih commented on #86
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:22] fatih commented on #95
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:22] fatih commented on #99
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:22] fatih commented on #106
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:25] fatih commented on #107
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:25] fatih commented on #111
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:25] fatih commented on #112
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:25] #112 closed, assigned to nobody

[2018-10-10 23:25] fatih commented on #113
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:25] fatih commented on #114
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:25] fatih commented on #115
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:26] fatih commented on #117
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:26] fatih commented on #119
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:26] fatih commented on #120
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:26] fatih commented on #122
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.